
venv/
myenv/
.env


.idea/
.vscode/


*.log


*.pyc
__pycache__/
*.swp
*.swo


build/
dist/
*.egg-info/


.DS_Store
Thumbs.db

coverage/
*.cover
*.nib
*.pyo


Pipfile.lock
poetry.lock

node_modules/

requirements.txt


.env
